.hero{
background-image: linear-gradient(225deg, rgba(82,42,201,0.69) 0%, rgba(72,37,180,1.00) 36%, #220F61 100%);
box-shadow: 0 14px 27px 9px rgba(0,0,0,0.50);
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: block;
h1{
font-family: Montserrat-Black;
font-size: 50px;
color: #FFFFFF;
text-align: left;
line-height: 60px;
}
}

